*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(106, 17, 158);
}

button:hover{
    background-color: rgb(77, 15, 113);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color: rgb(106, 17, 158);}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px, 30px;
    font-weight: bold;
    color: rgb(106, 17, 158);
    font-size: 1.45em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(106, 17, 158);
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("foto/frente.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#somos-wanhua .container{
    text-align: center;
    padding: 200px 12px;
}

#catalogo{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#catalogo .container{
    padding: 150px 0px;
}

#catalogo h2{
    margin-top: 0;
    font-size: 3.2em;
}

#catalogo p{
    display: none;
}

#catalogo .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("foto/depto.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("foto/casa.jpg");
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("foto/oferta.jpg");
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-wanhua .container{
        display: flex;
        justify-content: space-evenly;
    }
    #somos-wanhua .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #somos-wanhua h2{
        margin-top: opx;
    }

    #somos-wanhua .img-container{
        background-image: url("foto/somos-zapas.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #catalogo .programas{
        display: flex;
        justify-content: center;
    }

    #catalogo p{
        display: block;
        margin-bottom: 30px;
    }

    #catalogo h3{
        margin-top: 0;
    }

    #catalogo .carta{
        padding: 15px;
    }
